<!doctype html>
<html>
  <head>
    <title>About <%=Data.Name%></title>
    <link rel="stylesheet"  type="text/css" href="/styles.css" />
  </head>
  <body>
    <h1>About <%=Data.Name%></h1>
    <p>This is a doctorss office for appointments.!</p>
  </body>
</html>